{% extends "layout.html" %}
{% block body %}
    <p>Create a relation between tables </p>
    <form action="{{ url_for('reltables') }}" method="post" >
        <select name="table1">
        {% for i in tables %}
        <option selected value="{{i}}">{{i}}</option>
        {% endfor %}
        </select>
        <select name="rel">
            <option selected value="One to One">One to One</option>
            <option selected value="Many to One">Many to One</option>
            <option selected value="Many to Many">Many to Many</option>
        </select>
        <select name="table2">
        {% for i in tables %}
        <option selected value="{{i}}">{{i}}</option>
        {% endfor %}
        </select>
    <p><input type="submit" value="Create"></p>
    </form>
    <p>Existing relationships between tables</p>
    <ul>
    {% for rr in rels %}
        <li><a href = "/table?tab={{rr[0]}}">{{rr[0]}}</a>
        &nbsp;{{rr[1] }}
        <a href = "/table?tab={{rr[2]}}"> {{rr[2]}}</a>
        &nbsp;New table: {{rr[3] }}
        </li>
    {% endfor %}
    </ul>
    <p><a href = "/tableEditor">Create another table</a></p>
    <p><a href="static/script.txt" download>Download script</a></p>
{% endblock %}