body  {
background: #F4F4F4;
}
.container {
vertical-align:bottom;
background: #FFFFFF;
}
.content {
width: 100%;
height: 94vh;
}
.info{
    margin-left: 30px;
}
.header  {
padding: 45px 0 20px 40px;
color: #121212;
text-decoration: none;
font-size: 30px; 
font-family: "Myriad Pro", "Arial Narrow";
}
.menu {
background-color: #3b7687; 
padding: 6px 0 6px 40px;
}

.menu a {
color: #c5d6db;
text-decoration: none; 
font-size: 20px;
font-family: "Arial Narrow", "Myriad Pro";
}
h1 {
margin: 0px;
color: #869843; 
font-size:24px; 
font-family: "Arial Narrow", "Myriad Pro"; 
font-weight: normal;
}
h2 {
color: #3b7687;
font-size: 15px; 
margin: 20px 0 5px 0;
}
.end {
width: 100%;
padding-top: 6px;
padding-bottom: 6px;
background: #d6d6d6;
font-family: "Lucida Sans Unicode";
color: #444444;
font-size: 11px;
text-align: right;
}
.separator {
font-size:11px;
color:#FFFFFF;
}