<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<meta http-equiv="Content-Language" content="en" />
<head>
    <meta charset="UTF-8">
    <title>WebExcel</title>
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='style.css') }}">
</head>
<script type="text/javascript">
{% with messages = get_flashed_messages() %}
  {% if messages %}
    {% for message in messages %}
        alert("{{message}}");
    {% endfor %}
  {% endif %}
{% endwith %}
</script>
<body>
<div class="container">
   <div class="content">
      <div class="header"> WebExcel</div>
      <div class="menu"> <a href="{{ url_for('hello') }}">Load file</a> &nbsp; &nbsp; &nbsp; &nbsp; <a href="{{ url_for('author') }}">About</a> &nbsp; &nbsp; &nbsp; &nbsp; <a href="{{ url_for('tableEditor') }}">Create table</a> &nbsp; &nbsp; &nbsp; &nbsp; <a href="{{ url_for('reltables') }}">Relationship master</a> &nbsp; &nbsp; &nbsp; &nbsp; <a href="{{ url_for('downland') }}" download>Downland script</a> </div>
       <div class="info">
        {% block body %}{% endblock %}
       </div>
   </div>
   <div class="end" > &copy;2020 WebExcel &nbsp;<span class="separator">|</span>&nbsp; Nikita Berezhnov&nbsp;&nbsp;&nbsp; </div>
</div>
</body>
</html>