{% extends "layout.html" %}
{% block body %}
    <p>Create a relation between tables </p>
    <form action="{{ url_for('reltables') }}" method="post" >
        <select name="table1">
        {% for t in tables %}
        <option selected value="{{t[0]}}">{{t[0]}}</option>
        {% endfor %}
        </select>
        <select name="rel">
            <option selected value="One to One">One to One</option>
            <option selected value="Many to One">Many to One</option>
            <option selected value="Many to Many">Many to Many</option>
        </select>
        <select name="table2">
        {% for t in tables %}
        <option selected value="{{t[0]}}">{{t[0]}}</option>
        {% endfor %}
        </select>
    <p><input type="submit" value="Create"></p>
    </form>
    <p>Existing user tables</p>
    <ul>
    {% for t in tables %}
        <li><a href = "{{ url_for('table', tab = t[0]) }}">{{t[0]}}</a></li>
    {% endfor %}
    </ul>
    <p><a href = "{{ url_for('tableEditor') }}">Create another table</a></p>
    <p><a href="{{ url_for('downland') }}" download>Download script</a></p>
{% endblock %}